ConsultaCep/WebContent/wsdl/ConsultaCep.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://consulta.inatel.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://consulta.inatel.br" xmlns:intf="http://consulta.inatel.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://consulta.inatel.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="consultar">
    <complexType>
     <sequence>
      <element name="cep" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarResponse">
    <complexType>
     <sequence>
      <element name="consultarReturn" type="impl:Endereco"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Endereco">
    <sequence>
     <element name="cidade" nillable="true" type="xsd:string"/>
     <element name="bairro" nillable="true" type="xsd:string"/>
     <element name="logradouro" nillable="true" type="xsd:string"/>
     <element name="estado" nillable="true" type="xsd:string"/>
     <element name="complemento" nillable="true" type="xsd:string"/>
     <element name="cep" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultarRequest">

      <wsdl:part element="impl:consultar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarResponse">

      <wsdl:part element="impl:consultarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ConsultaCep">

      <wsdl:operation name="consultar">

         <wsdl:input message="impl:consultarRequest" name="consultarRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarResponse" name="consultarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConsultaCepSoapBinding" type="impl:ConsultaCep">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConsultaCepService">

      <wsdl:port binding="impl:ConsultaCepSoapBinding" name="ConsultaCep">

         <wsdlsoap:address location="http://localhost:8080/ConsultaCep/services/ConsultaCep"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
